<MudLayout>
    <MudAppBar Elevation="1" Style="background-color:aqua;" >   
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Style="color:black" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <div class="contenido">
        <h1 style="color:black">Colegio Superior Roque Saenz Peña</h1>
        <MudSpacer />
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Elevation="1" Style="background-color:aqua;" >
        <MudDrawerHeader>
            <MudText Typo="Typo.h4">Biblioteca</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <div class="items">
            <MudNavLink Match="NavLinkMatch.All" Href="#" >Inicio</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/estado">Materiales en mal estado</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/inventario-list">Inventario</MudNavLink>
            </div>
        </MudNavMenu>
    </MudDrawer>
    
</MudLayout>
@code {
    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}
